 /* body {
  position: relative;
  background-image: url('../../public/télécharger\ \(1\).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */

/* body::before {
  content: '';
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1; 
} */
  .log{
margin-top: 150px;
opacity: 0.9;
  }
  /* .mycomposant {

    opacity: 0.7; /* Opacité globale 
  } */